//colors
$cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$gray: hsl(0, 0%, 59%);


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $cyan;
    overflow: hidden;
    position: relative;
    height: 100vh;
    
}

main {position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
}


.circle1 {
    position: absolute;
    right: 55%;
    bottom: 40%;
    transform: rotate(120deg);
    z-index: -1;
    
}

.circle2 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.card {
    width: 35rem;
    height: 37.4rem;
    background-color: #fff;
    margin: 14.7rem auto;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;



    &__top {
        height: 14rem;

        img {
            width: 100%;
        }
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;


        img {
            margin-top: -5.2rem;
            width: 9.6rem; 
            border-radius: 50%;
            border: 4px #fff solid;       
        }

    }
    &__name {
        margin-top: 2.4rem;
        font-size: 1.8rem;
        font-weight: 700;

        span {
            font-weight: 400;
            color: $gray;
        }
    }

    &__city {
        font-size: 1.4rem;
        margin: .8rem 0 2.4rem;
        color: $gray;
    }

    &__bottom {
        border-top: 1px $gray solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__stats-box {
        margin: 2.4rem 0 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
            margin-bottom: .9rem;
            font-size: 1.8rem;
            font-weight: 700;
        }

        .description {
            font-size: 1rem;
            color: $gray;
        }
    }
}